altair==4.2.2
anaconda-client==1.11.0
anaconda-navigator==2.3.2
appdirs==1.4.4
atomicwrites==1.4.0
bkcharts==0.2
blinker==1.5
brotlipy==0.7.0
cachetools==5.3.0
clyent==1.2.2
conda==23.1.0
conda-build==3.22.0
conda-repo-cli==1.0.20
conda-verify==3.4.2
constantly==15.1.0
cssselect==1.1.0
cytoolz==0.11.0
daal4py==2021.6.0
datashape==0.5.4
distlib==0.3.6
et-xmlfile==1.1.0
fonttools==4.25.0
gitdb==4.0.10
GitPython==3.1.31
inflection==0.5.1
joblib==1.2.0
llvmlite==0.38.0
markdown-it-py==2.2.0
mdurl==0.1.2
mkl-fft==1.3.1
mkl-service==2.4.0
mpmath==1.2.1
munkres==1.1.4
mypy-extensions==0.4.3
navigator-updater==0.3.0
openpyxl==3.0.10
pandas==1.4.4
patsy==0.5.2
pep8==1.7.1
pexpect @ file:///tmp/build/80754af9/pexpect_1605563209008/work
pickleshare @ file:///tmp/build/80754af9/pickleshare_1606932040724/work
Pillow==9.2.0
pipenv==2023.2.18
ply==3.11
protobuf==3.20.3
pyarrow==11.0.0
pyasn1-modules==0.2.8
pycosat==0.6.3
pycurl==7.45.1
pydeck==0.8.0
PyDispatcher==2.0.5
Pygments==2.14.0
pyls-spyder==0.4.0
Pympler==1.0.1
PyQt5-sip==12.11.0
pytest==7.1.2
python-lsp-jsonrpc==1.0.0
pytz-deprecation-shim==0.1.0.post0
PyYAML==6.0
queuelib==1.5.0
requests-file @ file:///Users/ktietz/demo/mc3/conda-bld/requests-file_1629455781986/work
rich==13.3.2
scikit-learn-intelex==2021.20221004.121333
scipy==1.9.1
semver==2.13.0
smmap==5.0.0
streamlit==1.20.0
TBB==0.2
tzdata==2022.7
tzlocal==4.2
validators==0.20.0
virtualenv==20.21.0
virtualenv-clone==0.5.7
webencodings==0.5.1
zict==2.1.0
